/*Fonts*/
@font-face {
    font-family: "HenriDidot";
    src: url(Fonts/HenriDidot.otf); 
}

@font-face {
    font-family: "RanchoBronco24";
    src: url(Fonts/RanchoBronco24.otf); 
}

@font-face {
    font-family: "Merriweather-Regular";
    src: url(Fonts/Merriweather-Regular.ttf);
}

@font-face {
    font-family: "Merriweather-Light";
    src: url(Fonts/Merriweather-Light.ttf);
}

/*general tags*/
body {
    background-color: black;
    background-image: url("Images/Background Image.jpg");
    background-position: center;
    background-size: cover;
    margin: 0px;
    overflow-x: hidden;
}

hr {
    border-color: rgb(221, 169, 57);
    margin-left: -7%;
    width: 100vw;
} 

button:hover {
    cursor: pointer;
}

a {
    font-weight: bold;
    color: lightBlue;
    text-decoration: none;
}

p {
    font-family: "Merriweather-Light";
    font-size: 15px;
    color: white;
    line-height: 30px
}

.content {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 5.5%;
    margin-right: 5.5%;
}

.contentSmallheader {
    font-family: "HenriDidot";
    font-size: 26px;
}

.italic {
    font-style: italic;
}

/*General scrollbar settings*/
::-webkit-scrollbar {
    width: .8em;
}

::-webkit-scrollbar-track {
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background-color: grey;
}

::-webkit-scrollbar-thumb:hover {
    background-color: lightgrey;
}

/*Specifc Tags*/
#radioHeaderImage {
    margin-left: 5.5%;
    margin-right: 5.5%;
    border-radius: 10px;
    width: 87.5vw;
    height: 300px;
    object-fit: cover;
}

#date {
    margin-top: -30px;
    margin-left: 7%;
    font-family: "Merriweather-Light";
    color: rgb(221, 169, 57);
}

h1 {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 100px;
    text-align: center;

    font-size: 65px;
    font-family: "HenriDidot"; 
    font-weight: normal;
    color: white;
}

#radioDiagram {
    margin-right: -5.5%;
    border-radius: 10px;
    width: 87.5vw;
    height: 500px;
}

/*Timeline body*/
.timelineBody { 
    background-color: rgba(29, 29, 29, 0.658);
    background-image: none; 
    overflow-x: visible;
    overflow-y: hidden;
}

/*Timeline div*/
#timelineIframe {
    margin-left: -6.2%;
    width: 112.3%;
    height: 500px;
    border: 0px;
    border-radius: 0px;
} 

/*Timeline scroll bar settings*/
.timelineBody::-webkit-scrollbar {
    height: 1em;
    border-radius: 100px; 
}

.timelineBody::-webkit-scrollbar-track {
    height: 4em;
    background-color: rgb(44, 44, 44);
}

.timelineBody::-webkit-scrollbar-thumb {
    background-color: rgb(151, 115, 38);
    border-radius: 100px;
}

.timelineBody::-webkit-scrollbar-thumb:hover {
    background-color: rgb(221, 169, 57);
}

/*Timeline contents*/
#timelineLine {
    margin-top: 250px;
    width: 2000px;
    height: 0px;
    border-top: 10px dotted white;
}

#timelineCircle1 {
    margin-top: -15px;
    margin-left: 353px;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    border: 4px solid rgb(221, 169, 57);
    border-radius: 100px;
    background-color: white;
}
#timelineCircle2 {
    margin-top: -20px;
    margin-left: 1010px;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    border: 4px solid rgb(221, 169, 57);
    border-radius: 100px;
    background-color: white;
}
#timelineCircle3 {
    margin-top: -20px;
    margin-left: 1647px;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    border: 4px solid rgb(221, 169, 57);
    border-radius: 100px;
    background-color: white;
}

.timelineImg {
    margin: 0px;
    position: absolute;
    height: 160px;
    width: 450px;
    transform: translatex(-150px);
    border: 2px solid rgb(221, 169, 57);
    border-radius: 20px;
    background-position: center;
    background-size: cover;
    
    font-size: 20px;
    color: rgb(221, 169, 57);
    font-family: "Merriweather-Regular";
    padding: 7px;
}

#ti1 {
    top: 55px;
    left: 285px;
    background-image: url("Images/Timeline Img/Guglielmo Marconi.jpg");
}

#ti2 {
    top: 280px;
    left: 940px;
    background-image: url("Images/Timeline Img/AM Radio.png");
}

#ti3 {
    top: 55px;
    left: 1580px;
    background-image: url("Images/Timeline Img/FM Radio.jpg");
}

#timelineDate1 {
    margin-block: 0px;
    font-size: 40px;
    padding-top: 80px;
    padding-left: 170px;
}

#timelineDate2 {
    margin-block: 0px;
    font-size: 40px;
    margin-top: -330px;
    margin-left: 170px;
}

#timelineDate3 {
    margin-block: 0px;
    font-size: 40px;
    padding-top: 80px;
    padding-left: 170px;
}

/*Quotes section*/
.quoteMark {
    float: left;
    font-family: "RanchoBronco24";
    font-size: 80px;
}

.quoteParagraph {
    color: rgb(221, 169, 57);
    font-size: 25px;
    font-family: "Merriweather-Regular";
    line-height: 50px;
    background-color: black;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}




