/*Fonts*/
@font-face {
    font-family: "LibreCaslonDisplay";
    src: url(Fonts/LibreCaslonDisplay-Regular.otf);
}

/*tags*/
body {
    margin: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/*classes*/
.leftSide {
    float: left;
    position: relative;
}

.rightSide {
    float: right;
    position: relative;
}

.imgCarousel {
    width: 50vw;
    height: 100vh;

    /*background-image: url("Images/Cropped Img Carousel/Saint Malo.jpg"); */
    background-image: url("Images/Saint Malo No Animation.jpg");
    background-position: center;
    background-size: cover;

    animation-name: fade;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-delay: 6s;
}

/*ids*/
#websiteLogo {
    position: absolute;
    width: 150px;
    height: 150px;
    margin: 20px;
}

#captionStuff {
    position: absolute;
    left: 20px;
    top: 50%;
}

#carouselCaption {
    font-size: 100px;
    font-family: "LibreCaslonDisplay";
    font-weight: normal;
    color: white;
    line-height: 100px;
}

#captionLine {
    position: relative;
    margin-top: -7%;
    background-color: rgb(221, 169, 57);
    width: 300px;
    height: 10px;
}

#homeScreenIframe {
    width: 50vw;
    height: 100vh;
    border: 0;
}

/*Animations*/
@keyframes fade {
    0%   {background-image: url("Images/Saint Malo No Animation.jpg")}
    33%  {background-image: url("Images/Cropped Img Carousel/Guy Using Radio.jpg")}
    66%  {background-image: url("Images/Cropped Img Carousel/Group Of German Soldiers.jpg")}
    100% {background-image: url("Images/Saint Malo No Animation.jpg")}
  }



